.container {
    height: calc(100vh - 60px);
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: hsl(25, 25%, 20%);
}
button {
    height: 60px;
    border: none;
    color: rgba(40, 30, 20, 0.9);
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    outline: none;
    cursor: pointer;
}
/* ---------------------------------------- */
/* ----------------- MAIN ----------------- */
/* ---------------------------------------- */
.header,
footer > form input,
main > div,
.notice {
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
}
.header,
footer > form,
main > div,
.notice {
    width: 100vw;
}
.header {
    position: fixed;
}
main {
    padding: 60px 0;
    box-sizing: border-box;
}
.header,
.notice {
    justify-content: space-between;
    box-sizing: border-box;
}
.header {
    background-color: rgb(193, 60, 49);
    color: rgba(40, 30, 20, 0.9);
    border-bottom: 2px solid hsl(25, 25%, 20%);
}
/* ---------------------------------------- */
/* ---------------- FOOTER ---------------- */
/* ---------------------------------------- */
footer > form input {
    width: calc(100vw - 100px);
}
.notice {
    background-color: hsl(25, 25%, 20%);
    color: rgba(40, 30, 20, 0.9);
}
footer > button {
    width: 100px;
    position: fixed;
    bottom: 0;
    right: 0;
    border-left: 2px solid hsl(25, 25%, 20%);
    background-color: hsl(25, 75%, 47%);
}
footer > form {
    position: fixed;
    bottom: 0;
}
footer > div {
    position: fixed;
    bottom: 60px;
}
footer > form input {
    background-color: hsl(25, 75%, 47%);
    outline: none;
    border: none;
}
footer > form input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}
